@import "tailwindcss";

body {
  margin: 0;
  color: #fff;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.content h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

.content p {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.5;
}

@layer components {
  .bg_gradient {
    @apply 
      min-h-screen bg-linear-to-r from-cyan-950 to-cyan-800
  }
}